* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", sans-serif;
  position: relative;
  overflow-x: hidden;
  background-color: #e4ecfd;
}

html {
  font-size: 16px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  outline: none;
}

button, input {
  outline: none;
  border: none;
}

.btn {
  padding: 10px 20px;
  font-size: 29px;
  border-radius: 10px;
  cursor: pointer;
}

main {
  padding-top: 70px;
}

#auth-error {
  display: none;
  color: red;
  margin-bottom: 10px;
}

.main-block {
  padding: 50px 25px;
  background-color: #fff;
  border-radius: 76px;
  box-shadow: 0px 0px 40px -15px black;
}
.main-block__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.main-block__title-text {
  text-align: center;
  color: #426CAF;
  font-weight: 700;
  font-size: 62px;
  text-shadow: -3px 0px 0px white, 3px 2px 0px white;
}
.main-block-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 450px;
  margin: 0 auto;
  font-size: 25px;
}
.main-block-form__input {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  font-size: 35px;
  outline: none;
  border: none;
  z-index: 1;
  transition: all 0.3s ease;
  margin-bottom: 10px;
}
.main-block-form__input::-moz-placeholder {
  text-align: center;
  opacity: 1;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.main-block-form__input::placeholder {
  text-align: center;
  opacity: 1;
  transition: all 0.2s ease;
}
.main-block-form__input:focus::-moz-placeholder {
  opacity: 0;
}
.main-block-form__input:focus::placeholder {
  opacity: 0;
}
.main-block-form__input:focus {
  outline: 1px solid #426CAF;
}
.main-block-form__link {
  color: #228BB1;
  text-align: center;
  margin-bottom: 20px;
}
.main-block-form__btn {
  padding: 25px 10px;
  width: 100%;
  margin-bottom: 25px;
  color: #fff;
  background-color: #426CAF;
  transition: all 0.3s ease;
}
.main-block-form__btn:hover {
  background-color: #3b619c;
}
.main-block-form__btn:disabled {
  background-color: #86a3d1;
}
.main-block-form button:nth-of-type(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

@media (max-width: 700px) {
  .main-block__title {
    flex-direction: column;
  }
  .main-block__title-text {
    font-size: 45px;
  }
  .main-block__title-logo {
    height: 80px;
    margin-bottom: 10px;
  }
}
@media (max-width: 492px) {
  .main-block__title-text {
    font-size: 30px;
  }
  .main-block-form {
    font-size: 20px;
  }
  .main-block-form__btn {
    font-size: inherit;
  }
  .main-block-form__input {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .main-block__title-text {
    font-size: 25px;
  }
  .main-block-form {
    font-size: 13px;
  }
}
.container {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 20px;
}