@import 'colors';

main {
  padding-top: 70px;
}

#auth-error {
  display: none;
  color:red;
  margin-bottom: 10px;
}

.main-block {
  padding: 50px 25px;
  background-color: #fff;
  border-radius: 76px;
  box-shadow: 0px 0px 40px -15px black;
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    &-text {
      text-align: center;
      color: $main-color;
      font-weight: 700;
      font-size: 62px;
      text-shadow: -3px 0px 0px white,
       3px 2px 0px white;
    }
  }
  &-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 450px;
    margin: 0 auto;
    font-size: 25px;
    &__input {
      width: 100%;
      padding: 20px;
      border-radius: 10px;
      font-size: 35px;
      outline: none;
      border: none;
      z-index: 1;
      transition: all 0.3s ease;
      margin-bottom: 10px;
      &::placeholder {
        text-align: center;
        opacity: 1;
        transition: all 0.2s ease;
      }
      &:focus::placeholder {
        opacity: 0;
      }
      &:focus {
        outline: 1px solid $main-color;
      }
    }
    &__link {
      color: #228BB1;
      text-align: center;
      margin-bottom: 20px;
    }
    &__btn {
      padding: 25px 10px;
      width: 100%;
      margin-bottom: 25px;
      color: #fff;
      background-color: $main-color;
      transition: all 0.3s ease;
      &:hover {
        background-color: darken($main-color, 5);
      }
      &:disabled {
        background-color: lighten($main-color, 20);
      }
    }
    button:nth-of-type(2) {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
    }
  }
}

@media (max-width: 700px) {
  .main-block {
    &__title {
      flex-direction: column;

      &-text {
        font-size:45px;
      }

      &-logo {
        height: 80px;
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: 492px) {
  .main-block {
    &__title {
      &-text {
        font-size:30px;
      }
    }
  }
  .main-block-form {
    font-size: 20px;
    &__btn {
      font-size: inherit;
    }
    &__input {
      font-size: 20px;
    }
  }
}

@media (max-width: 400px) {
  .main-block {
    &__title {
      &-text {
        font-size:25px;
      }
    }
  }
  .main-block-form {
    font-size: 13px;
  }
}
