@import './colors';

* {
  box-sizing: border-box;
  }

body {
  margin: 0;
  padding: 0;
  font-family: 'Gilroy', sans-serif;
  position: relative;
  overflow-x: hidden;
  background-color: $bg-color;
}

html {
  font-size: 16px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}
a {
  text-decoration: none;
  outline: none;
}
button, input {
  outline: none;
  border: none;
}